{% load static %}

<!-- ======= Chefs Section ======= -->
<section id="chefs" class="chefs section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-header">
      <h2>Chefs</h2>
      <p>Nossos <span>Chefs</span> Profissionais</p>
    </div>

    <div class="row gy-4">

      {% for chef in chefs %}

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
        <div class="chef-member">
          <div class="member-img">

            <!-- <img src="{% static 'media/' %}{{ objeto.imagem }}" class="img-fluid" alt=""> -->
            <img src="media/{{ chef.imagem }}" class="img-fluid" alt="">

          </div>
          <div class="member-info">
            <h4>{{ chef.nome }}</h4>
            <span>{{ chef.cargo }}</span>
            <p>{{ chef.bio }}
          </div>
        </div>
      </div><!-- End Chefs Member -->

      {% endfor %}

    </div>

  </div>
</section><!-- End Chefs Section -->