{% extends 'base.html' %}
{% load static %}
{% block content %}

  <!-- ======= Hero Section ======= -->
  {% include 'hero.html' %}
  <!-- End Hero Section -->  

  <!-- ======= Sobre Section ======= -->
  {% include 'sobre.html' %}
  <!-- End Sobre Section -->
  
  <!-- ======= Menu Section ======= -->
  {% include 'menu.html' %}
  <!-- End Menu Section -->

  <!-- ======= Chefs Section ======= -->
  {% include 'chefs.html' %}
  <!-- End Chefs Section -->

  <!-- ======= Contato Section ======= -->
  {% include 'contato.html' %}
  <!-- End Contato Section -->

  <!-- ======= Rodape Section ======= -->
  {% include 'rodape.html' %}
  <!-- End Rodape Section -->

  {% endblock content %}